/* stylelint-disable font-family-no-missing-generic-family-keyword */
* {
  font-family: Avenir;
}

header {
  position: fixed;
  width: 100%;
  height: 80px;
  background-color: white;
  border-bottom: 1px solid lightgray;
  z-index: 1;
}

header > .row {
  padding-top: 10px;
}

.logo {
  height: 250px;
  width: 250px;
  padding-bottom: 200px;
  padding-left: 100px;
}

.contact-us {
  color: white;
  background-color: darkslateblue;
  border-radius: 4px;
  margin: 5px;
  padding: 10px;
}

.contact-us:hover {
  background-color: #3498db;
  color: #fff;
  cursor: pointer;
}

.basic-info {
  font-family: Avenir;
  margin-bottom: 100px;
}

.column-full {
  display: flex;
  position: fixed;
  right: 10px;
  top: 10px;
  margin-right: 90px;
  font-family: Avenir;
  font-style: normal;
  font-weight: 500;
  src: url('Avenir.woff2') format('woff2');
}

.column-full > p {
  margin-left: 15px;
  margin-right: 5px;
}

.main-image {
  display: flex;
  justify-content: center;
}

.main-image > img {
  width: 85%;
  height: 85%;
  margin-top: 125px;
}

.main-image > h1 {
  position: absolute;
  top: 170px;
  left: 200px;
  padding-top: 50px;
  color: white;
  font-size: 42px;
  font-family: 'Tiempos Headline';
  font-weight: 900px;
}

.text-info {
  position: absolute;
  bottom: 140px;
  font-size: 18px;
  left: 200px;
  color: white;
  font-weight: 100px;
  line-height: 30px;
  word-spacing: 2px;
  right: 25px;
}

.get-started {
  color: white;
  position: absolute;
  background-color: darkslateblue;
  border-radius: 4px;
  bottom: 50px;
  left: 200px;
  font-size: 24px;
  padding: 10px;
}

.get-started:hover {
  background-color: #3498db;
  color: #fff;
  cursor: pointer;
}

.clinicians {
  background-color: #f9f6f5;
  height: 700px;
  border-bottom: 1px solid lightgray;
}

.column-filled {
  display: flex;
  justify-content: center;
  font-family: Avenir;
  flex-direction: column;
  align-items: center;
}

.column-filled > p {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 22px;
}

.column-filled > h1 {
  padding-top: 75px;
  margin-bottom: 5px;
  font-size: 40px;
}

.locations-columns {
  position: relative;
  display: flex;
  justify-content: center;
  font-family: Avenir;
  flex-direction: column;
  align-items: center;
  right: 320px;
  padding-top: 75px;
  font-size: 24px;
}

.locations-columns2 {
  width: 90%;
  position: relative;
  display: flex;
  justify-content: center;
  font-family: Avenir;
  flex-direction: column;
  align-items: center;
  left: 100px;
  bottom: 307px;
  padding-top: 75px;
  font-size: 24px;
  padding-left: 500px;
}

.info-row {
  color: grey;
  margin-top: 20px;
  display: flex;
  padding-left: 102px;
}

.info-row > p {
  font-size: 14px;
}

.meeting {
  padding-left: 102px;
  font-size: 13px;
}

.contact-us-button {
  position: absolute;
  padding-top: 10px;
  height: 40px;
  width: 220px;
  right: 102px;
  color: white;
  background-color: darkslateblue;
  border-radius: 4px;
  margin: 5px;
  margin-top: 15px;
  text-align: center;
}

.contact-us-button:hover {
  background-color: #3498db;
  color: #fff;
  cursor: pointer;
}

.company-info {
  margin-top: 50px;
  background-color: #4d5656;
  color: white;
}

.company-info > .row {
  display: flex;
  padding-top: 65px;
  padding-bottom: 65px;
}

.info-column1 > img {
  margin-bottom: 30px;
  width: 60%;
}

.info-column1 {
  margin-top: 40px;
  margin-left: 100px;
}

.info-column2 {
  margin-top: 30px;
  margin-left: 320px;
}

.info-column3 {
  margin-top: 30px;
  margin-left: 300px;
}

.footer-text {
  display: flex;
  justify-content: flex-start;
  margin-left: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer-text > p:last-child {
  margin-left: 50px;
}
